密级：秘密
文件编号：D00-000000




         需求规格说明书

                   需求规格
                  （颐养中心）
                    版本：1.0.0-0.0.0
                     2025-10-30




              东软睿道教育信息技术有限公司

                  (版权所有，翻版必究)
                             更改履历


 序号   版本     更改时间       更改人   更改章节   状态   更改描述

 1    V1.0   xxx-x-xx   xx           新建

 3
状态：新建、增加、修改、删除。
目录
1     引言 ............................................................................................................................................................................ 4

    1.1       目的 .................................................................................................................................................................... 4
    1.2       背景 .................................................................................................................................................................... 4
    1.3       参考资料 ............................................................................................................................................................ 4

2     任务概述 ....................................................................................................................................................................4

    2.1       目标 .................................................................................................................................................................... 4

3     需求规定 ....................................................................................................................................................................4

    3.1       非功能性需求 .................................................................................................................................................... 4
      3.1.1           完全的浏览器在线操作模式，无需安装、操作方便，具有良好的系统扩充能力。 ........................ 4
      3.1.2           可扩展性，后续可拓展如用药管理、健康档案、护士站等功能 ........................................................ 4
    3.2       功能性需求 ........................................................................................................................................................ 4
      3.2.1           角色说明.................................................................................................................................................... 5

4     系统环境 ....................................................................................................................................................................5

    4.1       开发环境 ............................................................................................................................................................ 5
    4.2       运行环境 ............................................................................................................................................................ 5

5     具体功能需求 ............................................................................................................................................................ 6

    5.1       系统管理员功能需求 ........................................................................................................................................ 6
    5.2       健康管家(护工)功能需求 ............................................................................................................................... 12
1 引言
1.1     目的
           本文档是根据颐养中心的工作流程进行充分调研和整理出来的，描述最终用户在本系统中对

        于老人在办理入住、退住、健康管家、护理管理等处理流程和业务需求的文档。本文档的主要目的

        一方面是指导学员了解最终的业务需求，另一方面是作为后续开发设计的业务需求指导文档。



1.2     背景
        颐养中心后台管理系统

1.3     参考资料


2 任务概述
2.1     目标

3 需求规定
3.1     非功能性需求
3.1.1   完全的浏览器在线操作模式，无需安装、操作方便，具有良好的系统扩充能力。

3.1.2   可扩展性，后续可拓展如用药管理、健康档案、护士站等功能

3.2 功能性需求

   模块分类      模块名称    需求名称          开发任务名称
                     入住登记      客户的入住信息和床位信息登记

             客户管理    退住登记         客户退住申请和审批

                     外出登记         客户外出申请和审批

 东软颐养中心              床位示意图        床位整体使用信息
             床位管理
                     床位管理       床位调换和床位使用详情信息

                     护理项目         设置护理项目内容
             护理模块
                     护理级别        定义级别和护理项目配置
                    客户护理设置                     设置客户护理级别

                        护理记录                    客户的护理记录

                    设置服务对象                    设置客户与健康管家关系

           健康管家         服务关注             客户购买的护理服务信息和购买服务

                        日常护理             健康管家对客户的日常护理信息录入

          用户管理      基础信息维护                          用户




3.2.1 角色说明

  系统管理员、健康管家(护工)


4 系统环境
4.1 开发环境

                  使用语言或技术      MySql

    数据库            开发工具        MySql

                               Navicat Lite for MySQL

                  使用语言或技术      Vue3+

                               Vue-cli

                               Axios

   前端工程                        Element-plus

                               Vuex

                   开发工具        NPM

                               HBuilderX

                  使用语言或技术      SpringBoot

                               MyBatis-plus

                               Swagger
  服务器端工程
                               JWT

                   开发工具        Maven

                               IntelliJ IDEA


4.2 运行环境

  数据库服务器         主机类型            私有部署/云服务器 X64
                        CPU：16Core 3.0GHz 以上 RISC CPU 或 4*
                         Intel E7-4850v4（16Core，40M Cache，
                                     2.1GHz）及以上
                 硬件配置               内存：256GB

     配置信息                     内置硬盘：2*600GB RAID1

                                     网络：千兆

                              操作系统：Linux CentOS 7
                 软件
                                   数 据 库：mysql

  应用服务器          主机类型             私有部署/云服务器 X64

                                   CPU：1 Core CPU

                                      内存：2G
                 硬件配置
     配置信息                          内置硬盘：40GB

                                      网络：2M

                 软件           操作系统：Linux CentOS 7

 浏览器端环境          主机类型                个人 PC X64

                                      cpu:8 核

                 硬件配置                 内存：8 G

     配置信息                      网络：外网 1M 以上速率

                               火狐浏览器、谷歌浏览器
                 软件
                               操作系统：window10 x64




5 具体功能需求
5.1 系统管理员功能需求

            功能                            描述
登录                        系统管理员通过“东软颐养中心”程序，输入
                          自己的登录编码、登录密码进行登录。
                          附录：系统管理员属于公司员工，不能自己注
                          册。系统管理员管理由后台录入，初始设置 3
                          个管理员 admin、admin1、admin2,密码与账号
                          相同
主菜单：        入住登记          一、 查询客户信息数据列表（默认查询自理
客户管理
                             老人），老人类型包括：

                             1.    自理老人：没有配置护理项目的客
                  户

             2.   护理老人：配置有护理项目的客户

             根据客户姓名(模糊)、老人类型多条

              件组合查询特定的客户信息列表。

       二、 登记客户入住信息。

             1.   登记信息至少包含：客户姓名、年

                  龄、性别、身 份 证号、血型、 家

                  属、联系电话、楼栋、房间号、床

                  位号、入住时间、合同到期时间

             2.   合同到期时间不能小于入住时间

             3.   年龄根据出生日期自动计算

             4.   房间号：获取所有楼层的房间号，

                  下拉列表分组选择

             5.   床位号：根据选择的房间号联动获

                  取房间内的空闲床位

       三、 删除客户信息。

             1.   客户信息逻辑删除(隐藏)

             2.   修改当前客户的床位状态为空闲

             3.   床位使用详情信息逻辑删除(客户

                  可能存在多个床位使用记录，但只

                  会有一条记录是显示的，因此只隐

                  藏当前显示的使用记录)
       五、修改客户信息
        1.    如果合同到期时间发生改变，更新用

              户当前生效的床位信息的退住时间为

              改变的合同日期
       附录：楼栋信息不进行维护，固定 606
退住登记   一、 管理员浏览和审核退住登记信息

       二、 管理员查询客户退住登记信息列表

             根据客户名字(模糊)查客户退住登记

              信息列表
               三、 对客户的退住申请进行审核，如果申请

                       的退住类型是正常退住或死亡退住，审

                       核通过时需要修改当前客户正在使用的

                       床位状态为“可用”
               附录：退住类型包括正常退住、死亡退住和保
               留床位,审核情况包括：通过、不通过，审批
               时生成审批时间和审批人
       外出登记    一、 管理员浏览和审核外出登记信息

               二、 管理员查询客户外出登记信息列表

               三、 根据客户姓名(模糊)查询客户外出登记

                       信息列表

               四、 对客户的外出申请进行审核，审核通过

                       时需要修改当前客户正在使用的床位状

                       态为“外出”
               附录：审核情况包括：通过、不通过，审批时
               生成审批时间和审批人
主菜单：   床位示意图          统计总床位数和床位的空闲、外出、有人
床位管理
                       的数量

                      根据楼层(默认第一层)查询房间列表信

                       息及每个房间的床位列表信息
       床位管理    一、 查询客户床位使用详情信息(默认查询

                       客户正在使用的)，一个客户有多个床

                       位使用详情，但只有一个正在使用，使

                       用状态包括：

                       1.   正在使用：客户当前生效的床位详

                            情

                       2.   使用历史：客户失效的床位详情

                       根据客户姓名(模糊)、入住日期、使

                        用状态多条件组合查询床位使用详情

                        列表

               二、 修改床位详情：只能修改床位使用的结

                       束时间
              三、 床位调换：管理员可以根据客户要求进

                    行床位调换，只能是当天调换当天办理

               1.    只能调换到空闲的床位

               2.    删除客户旧床位详情信息(更改为失

                     效)床位使用结束时间为当前日期
               3. 添加新床位记录的记录，入住时间为
                  当前日期
               4. 修改旧床位的状态为空闲，修改新床
                  位的状态为有人
               5. 修改客户信息包括：新房间号、 新
                  床位号、楼号
               6. 房间号：获取所有楼层的房间号，下
                  拉列表分组选择
               7. 床位号：根据选择的房间号联动获取
                  房间内的空闲床位
              附录：楼栋信息不进行维护，固定 606
主菜单：   护理级别   一、 查询护级别目信息列表(默认查询启用
护理管理
                    状态)，护理级别状态括：启用、停用，

                    可根据状态进行动态查询

              二、 修改护理级别：只能修改其状态

              三、 添加护理级别：添加信息包含护理级别

                    名称和状态

              四、 护理项目配置：管理员可以选中某个护

                    理级别对其配置对应的护理项目

               1.    查询当前级别 已配置的护理项目 列

                     表，可对当前级别下的护理项目进行

                     移除操作

               2.    查询所有启用状态下的护理项目,不

                     在当前级别的护理项目可选中添加到

                     当前级别中
       护理项目   一、 查询护理项目信息列表(默认查询启用

                    状态)，护理项目状态括：启用、停用

                    根据护理项目 状态、护理项目名 称

                     (模糊)多条件组合查询护理项目信息
               列表

         二、 添加护理项目：添加信息包括编号、名

              称、价格、状态、执行周期、执行次

              数、描述

         三、 修改护理项目：对护理项目信息进行修

              改
            如果状态修改为停用需要直接剔除护
             理级别项目列表中的对应的记录，保
             证列表中的项目都是可用状态
         四、 护理项目逻辑删除(隐藏)：
           查询当前护理项目是否在护理级别项
             目列表中,如果在就需要进行剔除

         附录：护理项目的移除和停用不能影响到客
         户已有的护理项目
客户护理设置   一、 管理员查询客户信息列表

                 根据客户名字(模糊)查询客户信息列

                  表

         二、 设置护理级别：管理员可以选中某个客

              户对其进行护理级别的设置

         1.   下拉选择护理级别，展示选中级别中

              的所有护理项目

         2.   修改客户的护理级别
         3. 批量给用户添加护理项目,添加信息必
            须包含购买服务日期(当前系统时
            间)、购买数量(默认为 1)、服务到期
            日期(默认 3 个月到期)
         三、 移除护理级别：移除客户护理级别级联
            移除用户当前级别的护理项目
         1. 更新客户级别为 null
         2. 删除客户在当前级别的所有护理项目
            详情信息
         附录：有护理级别的的客户才能移除护理级
         别，没有护理级别的客户才能够设置护理级
         别，如果需要更改护理级别，需要先移除再
         重新设置 ；护理级别的移除会移除客户所
         有当前级别的护理项目，因此需要谨慎操作
护理记录     一、 管理员查询客户信息列表
                         根据客户名字(模糊)查询客户信息列

                          表

                二、 管理员选中某个客户查询其护理记录信

                      息

                三、 管理员可对护理记录进行移除(隐藏)
主菜单：   设置服务对象   一、 管理员查询健康管家
健康管家
                         根据管家名字(模糊)查询管家信息列

                          表

                二、 设置服务对象：管理员选中管家设置服

                      务客户，给没有健康管家的客户配置管

                      家，一个管家可以服务多个客户，一个

                      客户只能有一个管家

                 1.    查询无管家客户信息，可根据客户名

                       称(模糊)查询，选中某个客户后将其

                       添加到当前管家的服务客户列表中

                 2.    查询当前管家的服务客户列表，可移

                       除服务的客户
                附录：如果需要更换管家，可以找到客户对应
                的管家，将其移出当前管家的服务列表，然后
                重新选择管家，移除操作不会影响到护理记
                录信息
       服务关注     一、 管理员查询客户信息列表

                         根据客户名字(模糊)查询客户信息列

                          表

                二、 管理员选中某个客户可以查询该客户已

                      购买的护理服务项目列表，列表中包含

                      服务项目的状态（到期、欠费、数量正

                      常、未到期），对服务进行关注（监控数

                      量和服务到期时间）

                 1.    续费：管理员可以按照客户要求对护

                       理项目进行续费操作，必须包含的数

                       据：总数量和服务到期时间，总数量
                          =原有数量+新增数量

                    2.    移除：管理员可以按照客户要求对护

                          理项目进行移除操作，移除后客户将

                          不再享有对应的服务，因此需要谨慎

                          操作

                   三、 购买护理项目：管理员选中某个客户，

                         可以给其配置护理项目

                    1.    查询护理项目列表，可根据护理项目

                          名(模糊)查询

                    2.    选中护理项目 后添加到已选护理 项

                          目，只能选中当前客户未有的护理项

                          目，在已选护理项目列表中添加数量

                          （默认 1）和服务到期时间（默认当前

                          日期），保存后生效
主菜单：     基础数据维护    一、 查询系统用户、角色列表信息
用户管理
                   二、 对配置用户角色和基础信息进行维护
                   附录：录入员工信息时密码默认设置为手机
                   号码后 6 位



5.2 健康管家(护工)功能需求

        功能                      描述
登录                 健康管家通过“东软颐养中心”程序，输入自
                   己的登录编码、登录密码进行登录。
                   附录：健康管家属于养老院员工，不能自己注
                   册。健康管家由系统管理员统一管理
主菜单：     日常护理      一、 健康管家查询自己服务的客户信息列表
健康管家
                         根据客户名称(模糊)查询客户信息列

                          表

                   二、 日常护理：健康管家对客户进行日常护

                         理，生成护理记录

                    1.    选中某个客户，查询该客户所有的护

                          理项目，可看到该客户的护理项目状
                         态信息

                   2.    选中客户中的某个项目进行护理，添

                         加护理记录，记录中必须包含护理时

                         间、护理数量

                   3.    生成护理记录会同时更新客户该项目

                         的护理数量
       服务对象护理记录   一、 健康管家查询自己服务的客户信息列表

                        根据客户名称(模糊)查询客户信息列

                         表
                  二、 护理记录查询：选中某个客户可查询出
                     该客户的护理记录信息，并且可对记录
                     进行移除（隐藏）
主菜单：   外出申请       一、 健康管家可以为自己服务的客户提出外
客户管理
                        出申请

                  二、 健康管家查询自己服务的客户信息列表

                        选中某个客户可以添加外出登记申

                         请，登记必须包含外出事由、外出时

                         间、预计回院时、审批状态(默认已

                         提交)

                  三、 健康管家查询自己服务的客户外出申请

                        信息列表

                   1.    根据客户名字(模糊)查询客户外出申

                         请信息列表

                   2.    老人回院后需要登记回院时间
       退住申请       一、 健康管家可以为自己服务的客户提出退

                        住申请

                  二、 健康管家查询自己服务的客户信息列表

                        选中某个客户可以添加退住办理申

                         请，登记必须包含退住类型、退住原

                         因、退住时间、审批状态(默认已提

                         交)

                  三、 健康管家查询自己服务的客户退住申请
              信息列表

              根据客户名字(模糊)查询客户退住申

               请信息列表



6 用例图
总用例图：




管理员用例图：
健康管家用例图：
7 业务流程图
8 泳道图
9 页面原型设计

9.1 管理员

9.1.1   床位管理




               图 1 床位示意图
图 2 床位管理
9.1.2   护理管理




9.1.3
  图 3 护理级别




图 4 护理记录
图 5 护理项目
图 6 客户护理设置
               图 7 护理记录


9.1.4   健康管家
图 8 设置服务对象
图 9 服务关注
9.1.5   客户管理
图 10 客户管理
9.1.6   用户管理




               图 11 用户管理
9.2 健康管家(护工)

9.2.1   健康管家
  图 1 日常护理




图 2 护理记录
9.2.2   客户管理




                 图 3 外出申请




                 图 4 退住申请

10 接口设计
参考《东软颐养中心》接口文档
